.fixed-footer{
        bottom: 0;
        width: 100%;
        position: fixed;        
        padding: 10px 0;
        color: rgb(255, 255, 255);
	}
	.fixed-table{
      height:60% !important;
      overflow:scroll !important;
      position:absolute;
      width: 80%
	}
	#agreementDetails {
	  font-family: Verdana,Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	  font-size: 10px;
	}
	
	#agreementDetails td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	
	#agreementDetails tr:nth-child(even){background-color: #f2f2f2;}
	
	#agreementDetails tr:hover {background-color: #ddd;}
	
	#agreementDetails th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: center;
	  background-color: rgb(128, 128, 128);
	  color: white;
	}
	
	@media (max-width: 768px) {
            #agreementDetails {
                font-size: 10px; /* Reduce font size for smaller screens */
            }

            /* Hide some columns on small screens or adjust their behavior */
            #agreementDetails td:nth-child(4),
            #agreementDetails th:nth-child(4),
            #agreementDetails td:nth-child(5),
            #agreementDetails th:nth-child(5) {
                display: none;
            }

            /* Adjust the table layout for smaller screens */
            #agreementDetails td,
            #agreementDetails th {
                padding: 5px;
            }

            /* Add horizontal scrolling for the table on small screens */
            .fixed-table {
                overflow-x: auto;
            }
        }