<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/homeLayout.css}" rel="stylesheet" />
   <link th:href="@{/styles/css/tableLayout.css}" rel="stylesheet" />
  
</head>
    
<body>
<!-- Header -->
<header>
    <div style="float: left;">
    	<img src="../static/images/logo.PNG" width="30" height="30" th:src="@{styles/images/logo.PNG}"/>
    </div>
        <h1>Bulk Operations Tool</h1>
  	<p>One Stop Solution for actions in bulk.</p>
</header>
 <!-- Main Container -->
<div class="container">
    <!-- Left Panel -->
    <div class="left-panel">
    	
       <ul class="menu">
            <li class="menu-item"> 
            	<a class="menu-button" th:href="@{/}"> <i class="fa fa-home extra-large"></i>
    				<p>HOME</p>
				</a>
			</li>
            <li class="menu-item">
            	 <a class="menu-button" th:href="@{form}">
			        <i class="fa fa-file-text-o fa fa-home extra-large"></i>
			        <p>AGREEMENTS</p>
			    </a>
            </li>
            <li class="menu-item">
            	<a class="menu-button" th:href="@{workflows}">
			        <i class="fa fa-cogs extra-large"></i>
			        <p>WORKFLOWS</p>
			    </a>
            </li>
            <li class="menu-item">
            	<a class="menu-button" th:href="@{libraryTemplateSearch}">
			        <i class="fa fa-envelope extra-large"></i>
			        <p>TEMPLATES</p>
			    </a>
            </li>
             <li class="menu-item">
            	<a class="menu-button" th:href="@{widgets}">
			        <i class="fa fa-file-code-o extra-large"></i>
			        <p>WEB FORM</p> 
			    </a>
            </li>
             <li class="menu-item">
            	<a class="menu-button" th:href="@{helpx}">
			        <i class="fa fa-envelope extra-large"></i>
			        <p>HELP</p> 
			    </a>
            </li>
        </ul>
  </div>
<!-- Right Panel -->
<div class="right-panel">
    <center>
        <h1>Agreement List</h1>
    </center>
    <p id="checkboxSelectError"></p>
    
    <form action="#" id="workflow" th:action="@{/workflowsForAgreements}" th:object="${agreementForm}" method="post">
        <table id="agreementList" border="0">
            <thead>
                <tr>
                    <td>
                        <input class="menu-button" type="submit" value="Get Workflows" />
                        <!--<input name="userWorkflow" th:value="${userWorkflow}" type="hidden"/>-->
                       <!-- <input name="agreementList" th:value="${agreementList}" type="hidden"/>-->
                       <input name="recordList" th:value="${recordList}" type="hidden"/>
                       <input th:field="*{userWorkflow}" name="userWorkflow" th:value="${userWorkflow}" type="hidden"/>
                    </td>
                </tr>
            </thead>
        </table>
        <p style="font-size: 18px; text-align: center;">
            Total Agreements: [[${totalAgreements}]]
        </p>
        <div  class="fixed-table">
            <table id="agreementDetails" border="1">
            <thead>
                <tr>
                    <th>Agreement</th>
                    <th>Agreement Name</th>
                    <th>Agreement Status</th>
                </tr>
            </thead>
                <tbody style="height: 100px !important; overflow-y: auto    !important;  overflow-x: hidden  !important;">
                    <tr th:each="agreement, status :${agreementList}">
                     <!--<input th:field="*{agreementIdList[__${status.index}__].id}" id="id" type="hidden"/>-->
                    <!-- <input th:name="|agreementIdList[__${status.index}__].id|" th:value="${agreement.get('id')}" type="hidden"/>
                     <input th:name="|agreementIdList[__${status.index}__].name|" th:value="${agreement.get('name')}" type="hidden"/>
                     <input th:name="|agreementIdList[__${status.index}__].userEmail|" th:value="${agreement.get('userId')}" type="hidden"/>
                     <input th:name="|agreementIdList[__${status.index}__].status|" th:value="${agreement.get('status')}" type="hidden"/>-->
                     <td th:text="${agreement.get('id')}"></td>
                     <td th:text="${agreement.get('name')}"></td>
                     <td th:text="${agreement.get('status')}"></td>
                </tbody>
            </table>
        </div>
    </form>
</div>
</div>

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
	<script type="text/javascript" th:src="@{/styles/js/action.js}"></script>
</body>
</html>
