<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/pageLayout.css}" rel="stylesheet" />
   <link th:href="@{/styles/css/tableLayout.css}" rel="stylesheet" />
  
</head>

<body>
 <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <div class="sidebar-logo">
     <img src="../static/images/logo.PNG" width="80" height="80" th:src="@{styles/images/logo.PNG}"/>
    </div>
    
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    
   <a class="w3-bar-item w3-button w3-padding-large w3-black active" th:href="@{form}">
        <i class="fa fa-file-text-o w3-xxlarge"></i>
        <p>AGREEMENTS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{workflows}">
        <i class="fa fa-cogs w3-xxlarge"></i>
        <p>WORKFLOWS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>TEMPLATES</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{widgets}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>WEB FORMS</p> 
    </a>
</nav>

<!-- Header/Home -->
<header class="w3-container w3-padding-20 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Bulk Operations Tool</h1>
    
</header>
<div id="main" class="w3-container">
<center>
     <h3 class="w3-xxlarge">Reminders on Agreements</h3>
</center>



    
    <p style="font-size: 18px; text-align: center;">
    Showing agreements for those reminders has been sent. 	
</p>

    <p style="font-size: 18px; text-align: left;">    
	Total Reminders: [[${totalReminders}]]
</p>
    <div class="fixed-table">
        <table id="agreementDetails" border="1">
            <thead>
                <tr>
                <th>Agreement ID</th>
                <th>Date of Reminder</th>
                <th>Participants of Reminder</th>     
                </tr>
            </thead>
            <tbody style="height: 100px !important; overflow-y: auto !important;  overflow-x: hidden  !important;">
                <tr th:each="agreement, status :${agreementList}">
                   <tr th:each="events, status :${events}"> 
		           <td th:text="${events.substring(0, 44)}" />
		           <td th:text="${events.substring(45,55)}" />
		           <td th:text="${events.substring(66)}" />
				 </tr>
                </tr>
            </tbody>
        </table>
    </div>


<!-- Start Pagination -->
<div class="fixed-footer">
    <span th:if="${agreementPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/agreements(userEmail=${userEmail}, startDate=${startDate}, beforeDate=${beforeDate},size=${nextIndex}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==agreementPage.number + 1} ? active" class="w3-button"></a>
    </span>
</div>
</div>        
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
</body>
</html>
