<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/pageLayout.css}" rel="stylesheet" />
  <link th:href="@{/styles/css/tableLayout.css}" rel="stylesheet" />
</head>

<body>
 <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <div class="sidebar-logo">
     <img src="../static/images/logo.PNG" width="80" height="80" th:src="@{styles/images/logo.PNG}"/>
    </div>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    
    <a class="w3-bar-item w3-button w3-padding-large w3-black active" th:href="@{form}">
        <i class="fa fa-file-text-o w3-xxlarge"></i>
        <p>AGREEMENTS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{workflows}">
        <i class="fa fa-cogs w3-xxlarge"></i>
        <p>WORKFLOWS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{libraryTemplateSearch}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>TEMPLATES</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{widgets}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>WEB FORM</p> 
    </a>
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>HELP</p> 
    </a>
</nav>
<center>
 <h1>Agreement List</h1>
</center>
<p id="checkboxSelectError"></p>
<div id="loading-overlay">
    <div class="loader"></div>
</div>
 	
	<form  action="#" id="bulkform" th:action="@{/manageagreements}" th:object="${agreementForm}" method="post">
		<table id="agreementList" border="0">
		 <thead>
		    <tr>
		        <td>
		       		<!--<button class="w3-button w3-black" type="submit" value= "Delete All">Delete All</button>-->
		       		<input class="w3-button w3-black" type="submit" name="delete" value="Delete All" />
					<input name="userEmail" th:value="${userEmail}" type="hidden"/>
		        </td>
		       <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<!--<input class="w3-button w3-black" id="download" type="submit" name="download" value="Download All" />-->
					<input name="userEmail" th:value="${userEmail}" type="hidden"/>
					<input id="downloadPDFButton" class="w3-button w3-black" type="button" name="downloadagreements" value="Download Agreements" />
		        </td>
		        <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<!--<input class="w3-button w3-black" type="submit" name="formfield" value="Download Form Fields" />-->
		       		<input id="downloadFormFieldButton" class="w3-button w3-black" type="button" name="downloadformfields" value="Download Form Fields" />
					<input name="userEmail" th:value="${userEmail}" type="hidden"/>
		        </td>
		        <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<input class="w3-button w3-black" type="submit" name="hide" value="Hide Agreements" />
		        </td>
		         <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<input class="w3-button w3-black" type="submit" name="cancel" value="Cancel Reminders" />
		        </td>
		     </tr>
		 </thead>
		</table>
		<br>
		<br>
		
		<div class="fixed-table">
		
	 	
	    <table id="agreementDetails" border="1">
	        <thead>
	        <tr>
	        	<th><input id="selectAll" type="checkbox"/> Select</th>
	        	<th>Agreement</th>
                <th>Agreement Name</th>
                <th>Agreement Status</th>
                <th>Email ID</th>
                <th>Last Modified Date</th>
            </tr>
	        </thead>
	        <tbody style="height: 100px !important; overflow-y: auto    !important;  overflow-x: hidden  !important;">
	        
	             <tr th:each="agreement, status :${agreementIdList}">
		              <td="checkbox" th:field="*{agreementIdList[__${status.index}__].isChecked}" name="checkbox" value="*{agreementIdList[__${status.index}__].isChecked}" th:checked="${isChecked}"/></center></td>
			          <td name="id"><a th:href="@{/agreements/{agreementId}(agreementId = ${agreement.id})}" th:text="${agreement.id}" target="_blank" />
			          </td>
			           <td name="name" th:text="${agreement.name}" />
		               <td name="status" th:text="${agreement.status}" />
		               <td name="userEmail" th:text="${agreement.userEmail}" />
		               <td th:text="${agreement.modifiedDate}" />
				 </tr>
	        </tbody>
    	</table>
    	</div>
   </form>
   <!--		Start Pagination -->
  
			
<div class="fixed-footer">
<span th:if="${agreementPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
			     
			    <a th:href="@{/multiuseragreements(userEmail=${userIds}, startDate=${startDate}, beforeDate=${beforeDate},size=${nextIndexMap}, page=${pageNumber})}"
			        th:text=${pageNumber}
			        th:class="${pageNumber==agreementPage.number + 1} ? active" class="w3-button"></a>
			</span >
</div>
<!-- 		End of Container -->
<div class="container"></div>        
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
</body>

</html>