<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/acrobatsignbot.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<style>

</style>
</head>

<body>
   
 <div class="wrapper" id="wrapper">
        <div class="title">
        Acrobot Sign bot
        <span id="start-record-btn" style="display: inline;float:left;padding-left:10px" class="start-record-btn" title="Start Recording"><i class="fa fa-microphone-slash"></i></span>
        <span  id="closeChatEvent" style="display: inline;float:right;padding-right:10px"> <i class="fa fa-close"></i> </span>
        </div>
        <!--<div id="messages" class="chat-logs">
           
            
        </div>-->
        <div class="chat-box-body">
		      <div class="chat-box-overlay"></div>
		      <div id="messages" class="chat-logs"></div>
		</div>
        <div class="typing-area">
            <div class="input-field">
            <form>
              <input  id="chat-input" type="text" placeholder="Type your message">
                <!--<button>send</button>-->
                
		        <button type="submit" id="chat-submit" title="Send Text"><i class="fa fa-send"></i></button>
       
		      </form> 
               
            </div>
        </div>
    </div>
    
 <div class="fixed-chat-footer">   
		<span class="openChatEventClass">
			<button id="openChatEvent" class="open-chat-button">Chat</button>
    	</span>
 </div>
      	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
       <!-- <script type="text/javascript" th:src="@{/styles/js/signbot.js}"></script>-->
        <script type="text/javascript" th:src="@{/styles/js/chatscript.js}"></script>
</body>

</html>
