<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>

<body>
<div class="header">
  <div class="header-left">
    <a th:object="${personForm}"  th:href="@{/}">Home</a>
    <a class="active" th:href="@{send}">Send for signature</a>
    <!--<a th:href="@{aboutus-details}">About us</a>-->
  </div>
</div>

<div class="w3-container, container">
    <h1></h1>
<form class="w3-panel w3-card-4" action="#" th:action="@{/chat}" th:object="${chatmessageForm}" method="POST">
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title">ChatGPT</div>
        </div>
        <div id="loading" style="display:none; color:red"><b>The backend is processing, please wait a moment, do not submit repeatedly</b></div>
     
        <ul class="messages">
            <div style="text-align: left; color: green">
                <pre style="white-space: pre-wrap; word-wrap:break-word" id="chatlog"></pre>
            </div>
        </ul>
        <input type="text" class="w3-input" name="content" placeholder="Message" />
        <table>
        	<tr th:text="${response}"> </tr>
        	
        </table>
        <div class="bottom_wrapper clearfix">
            <!--<textarea class="message_input_wrapper" placeholder="Click here to enter the question, press enter to submit, press shift+enter to change the line" id="chatinput"></textarea>-->
            <br>
            <br>
            <button class="w3-buttton w3-black" type="submit">Submit</button>
        </div>
    </div>
</form>
</div>
<div class="fixed-footer">
        <!--<div class="container">Copyright &copy; 2022 S3AG solutions pvt. ltd.</div>   -->     
</div>
</body>
</html>