<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/pageLayout.css}" rel="stylesheet" />
</head>



<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
	<script type="text/javascript" th:src="@{/styles/js/action.js}"></script>
	

	
 <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <div class="sidebar-logo">
     <img src="../static/images/logo.PNG" width="80" height="80" th:src="@{styles/images/logo.PNG}"/>
    </div>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    
    <a class="w3-bar-item w3-button w3-padding-large w3-black active" th:href="@{form}">
        <i class="fa fa-file-text-o w3-xxlarge"></i>
        <p>AGREEMENTS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{workflows}">
        <i class="fa fa-cogs w3-xxlarge"></i>
        <p>WORKFLOWS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{libraryTemplate}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>TEMPLATES</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{widgets}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>WEB FORM</p> 
    </a>
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>HELP</p> 
    </a>
</nav>

  <div id="main">
    <header class="w3-container w3-padding-large w3-center w3-black" id="home">
      <h1 class="w3-jumbo">Bulk Operations Tool</h1>
    </header>
    <div class="container">
      <form id="userAgreement" style="height: 350px !important;" action="#" th:action="@{/agreements}" method="post">
       <p id="checkboxSelectError"></p>
        <table style="border-collapse: separate;border-spacing: 0 1em;">
          <tr>
            <p><strong>Agreements will be fetched between this date range.</strong> </p>
          </tr>
          <tr>
            <td class="required-field">Start Date:</td>
            <td><input type="date" class="w3-input" required name="startDate" placeholder="Date" /></td>
          </tr>
          <tr>
            <td class="required-field">End Date:</td>
            <td><input type="date" class="w3-input" required name="beforeDate" placeholder="Date" /></td>
          </tr>
          <tr>
            <td>User Email:</td>
            <td><input id="userEmail" type="email" class="w3-input" name="userEmail" placeholder="User Email" /></td>
          </tr>
         <!-- <tr>
	        	<td><label for="activeUserList">Users:</label></td>
	        	<td>
	              	<select id="test1" name= "userEmail">
	        		 <option th:each="activeUser : ${userEmail}" th:value="${activeUser.email}" th:selected="${activeUser.email}" th:text="${activeUser.firstName} + ' ' + ${activeUser.lastName} + '- '+${activeUser.email}">
				    <option value="" selected>Select User</option> 
				    </option>
				</select>
				</td>
	        </tr>-->
          <tr>     
	        <tr>
	        	<td><label for="userGroup">Groups:</label></td>
	        	<td>
	              	<select id="userGroupValue" name= "userGroup">
	        		 <option th:each="userGroup : ${userGroupsList}" th:value="${userGroup.groupId}" th:selected="${userGroup.groupId}" th:text="${userGroup.groupName}">
				    <option value="" selected>Select Group</option> 
				    </option>
				</select>
				</td>
	        </tr>    
	        
	        
            <td><button class="w3-button w3-black" type="submit" name="agreements">Get Agreements</button></td>
          </tr>
        </table>
      </form>
      <br>
      <p><strong> OR </strong> </p>
      <form action="#" th:action="@{/fetchUsersAgreement}" enctype="multipart/form-data" method="post">
        <table>
          <tr>
            <p><strong>Upload User's list</strong> </p>
          </tr>
          <tr>
            <td>Start Date:</td>
            <td><input type="date" class="w3-input" required name="startDate" placeholder="Date" /></td>
          </tr>
          <tr>
            <td>End Date:</td>
            <td><input type="date" class="w3-input" required name="beforeDate" placeholder="Date" /></td>
          </tr>
          <tr>
            <td> Add File: </td>
            <td>
              <div class="form-group">
                <input type="file" name="file1" class="form-control-file">
              </div>
            </td>
          </tr>
          <tr>
            <td><button class="w3-button w3-black" type="submit">Get Agreements</button></td>
          </tr>
        </table>
      </form>
      <br>
      <p><strong> OR </strong> </p>
      <form action="#" th:action="@{/agreementListForIds}" enctype="multipart/form-data" method="post">
        <table>
          <tr>
            <p><strong>Upload Agreement IDs List</strong> </p>
          </tr>
          <tr>
            <p><strong><i>Note: This feature is available for user as an Owner of agreement or for the admins with Advanced account sharing option enabled and other users account is shared in Acrobat Sign<i></strong> </p>
          </tr>
          <tr>
            <td> Add File: </td>
            <td>
              <div class="form-group">
                <input type="file" name="file1" required class="form-control-file">
              </div>
            </td>
          </tr>
          <tr>
            <td><button class="w3-button w3-black" type="submit" name="agreementdetails">Get Agreements</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
</body>

</html>
