<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/homeLayout.css}" rel="stylesheet" />
   <link th:href="@{/styles/css/tableLayout.css}" rel="stylesheet" />
  
</head>

<body>
 <!-- Header -->
    <header>
    <div style="float: left;">
    	<img src="../static/images/logo.PNG" width="30" height="30" th:src="@{styles/images/logo.PNG}"/>
    </div>
        <h1>Bulk Operations Tool</h1>
  	<p>One Stop Solution for actions in bulk.</p>
  
    </header>

    <!-- Main Container -->
    <div class="container">
        <!-- Left Panel -->
        <div class="left-panel">
        	
           <ul class="menu">
                <li class="menu-item"> 
                	<a class="menu-button" href="#"> <i class="fa fa-home extra-large"></i>
        				<p>HOME</p>
    				</a>
    			</li>
                <li class="menu-item">
                	 <a class="menu-button" th:href="@{form}">
				        <i class="fa fa-file-text-o fa fa-home extra-large"></i>
				        <p>AGREEMENTS</p>
				    </a>
                </li>
                <li class="menu-item">
                	<a class="menu-button" th:href="@{workflows}">
				        <i class="fa fa-cogs extra-large"></i>
				        <p>WORKFLOWS</p>
				    </a>
                </li>
                <li class="menu-item">
                	<a class="menu-button" th:href="@{libraryTemplateSearch}">
				        <i class="fa fa-envelope extra-large"></i>
				        <p>TEMPLATES</p>
				    </a>
                </li>
                 <li class="menu-item">
                	<a class="menu-button" th:href="@{widgets}">
				        <i class="fa fa-file-code-o extra-large"></i>
				        <p>WEB FORM</p> 
				    </a>
                </li>
                 <li class="menu-item">
                	<a class="menu-button" th:href="@{helpx}">
				        <i class="fa fa-envelope extra-large"></i>
				        <p>HELP</p> 
				    </a>
                </li>
            </ul>
        </div>
         <!-- Right Panel -->
<div class="right-panel">
<center>
 <h1>Library Templates</h1>
</center>
<p id="checkboxSelectError"></p>
 <div id="loading-overlay">
	    <div class="loader"></div>
	</div>
	<form  action="#" id="bulkform" th:action="@{/manageagreements}" th:object="${agreementForm}" method="post">
		<table id="libraryTemplate" border="0">
		 <thead>
		    <tr>
		        
		        <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<input class="menu-button" id="downloadTemplate" type="submit" name="downloadTemplate" value="Download All" />
					<input name="userEmail" th:value="${userEmail}" type="hidden"/>
		        </td>
		        <td>
		       		<!--<button class="w3-button w3-black" type="submit" value="Download All">Download All</button>!-->
		       		<input class="menu-button" type="submit" name="formfieldTemplate" value="Download Form Fields" />
					<input name="userEmail" th:value="${userEmail}" type="hidden"/>
		        </td>
		        <td>
		       		 <!--  <button class="w3-button w3-black" type="submit" value="Download All">Download All</button>-->
		       		<input class="menu-button" type="submit" name="hideTemplate" value="Hide Template"/>
		        </td>
		        
		     </tr>
		 </thead>
		</table>
		<p style="font-size: 18px;">
		Total Agreements: [[${totalTemplates}]]
		</p >
	<div class="fixed-table">
		
	 	
	    <table border="1">
	        <thead>
	        <tr>
	        	<th><input id="selectAll" type="checkbox"/> Select</th>
	        	<th>Template ID</th>
                <th>Template Name</th>
                <th>Template Owner</th>
                <th>Template Status</th>
                <th>Hidden</th>
            </tr>
	        </thead>
	        <tbody style="height: 100px !important; overflow-y: auto    !important;  overflow-x: hidden  !important;">
	        
	             <tr th:each="template, status :${libraryTemplateList}">
	             	<td><center><input type="checkbox" th:field="*{libraryTemplateList[__${status.index}__].isChecked}" name="checkbox" value="*{libraryTemplateList[__${status.index}__].isChecked}" th:checked="${isChecked}"/></center></td>
	                <input th:field="*{libraryTemplateList[__${status.index}__].id}" th:value="${template.id}" type="hidden"/>
		            <input th:field="*{libraryTemplateList[__${status.index}__].name}" th:value="${template.name}" type="hidden"/>
		            <input th:field="*{libraryTemplateList[__${status.index}__].ownerEmail}" th:value="${template.ownerEmail}" type="hidden"/>
		          <!-- <td><a th:href="@{/agreements/{agreementId}(agreementId = ${agreement.id})}" th:text="${agreement.id}" target="_blank" />
		          </td> -->
		           <td th:text="${template.id}" />
		           <td th:text="${template.name}" />
	               <td th:text="${template.ownerEmail}" />
	               <td th:text="${template.status}" />
	               <td th:text="${template.hidden}" />
				 </tr>
	        </tbody>
    	</table>
    	 <div class="fixed-footer">
			<span th:if="${agreementPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
			     
			    <a th:href="@{/agreements(userEmail=${userEmail}, startDate=${startDate}, beforeDate=${beforeDate},size=${nextIndex}, page=${pageNumber})}"
			        th:text=${pageNumber}
			        th:class="${pageNumber==agreementPage.number + 1} ? active" class="w3-button"></a>
			</span>
		 </div>
		</div>
		
   </form>
   </div>

<!-- 		End of Container -->
  </div>   
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
	<script type="text/javascript" th:src="@{/styles/js/action.js}"></script>
</body>

</html>