<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>

<body>
<div class="header">
  <div class="header-left">
    <a th:object="${personForm}"  th:href="@{/}">Home</a>
    <a class="active" th:href="@{send}">Send for signature</a>
    <!--<a th:href="@{aboutus-details}">About us</a>-->
  </div>
</div>

<div class="w3-container, container">
    <h1>HR Department</h1>


<form class="w3-panel w3-card-4" action="#" th:action="@{/sendsignature}" enctype="multipart/form-data" method="post">
    <h2>Send For Signature</h2>
    <table>
    	<tr>
            <td>Approver Email:</td>
            <td><input type="email" class="w3-input" name="approverEmail"
                placeholder="Approver Email" /></td>
           
        </tr>
    	<tr>
            <td>Signer Email:</td>
            <td><input type="email" class="w3-input" name="signerEmail"
                placeholder="Signer Email" /></td>
           
        </tr>
        <tr>
            <td>Document Name:</td>
            <td><input type="text" class="w3-input" name="name"
                placeholder="Document name"  /></td>
           
        </tr>
        <tr>
            <td>Message:</td>
            <td><input type="text" class="w3-input"
                placeholder="Message" name="message" /></td>
        </tr>
        <tr>
           <td> Add File: </td>
           <td>
        	<div class="form-group">
                        <input type="file" name="file1" class="form-control-file">
             </div>
           </td>
        </tr>
        <!--<tr th:each="participantSet, itemStat : *{sendAgreementVO.participantSetsInfo}">			
			<td>Select Role:</td>
            <td>
             <select id="role" th:name="*{participantSetsInfo[__${itemStat.index}__].role}" th:value="${participantSet.role}" size="1">
			    <option th:text= "${role}" th:value = "${role}" value="volvo">SIGNER</option>
			    <option th:text= "${role}" th:value = "${role}"  value="saab">APPROVER</option>
            </td>
        </tr>-->
      <!--  <tr th:each="participantSet, itemStat : *{participantSetsInfo}">
        	<td>Email Id:</td>
        	<td th:each="memberInfo, memberStat : *{participantSetsInfo[__${itemStat.index}__].memberInfos}">
        	  
              <input type="text" class="w3-input" th:name="*{memberInfos[__${itemStat.index}__].email}" th:value="${memberInfo.email}" />
             </td>
        </tr>-->
        
       
        <tr>
            <td><button class="w3-button w3-black" type="submit">Send</button></td>
        </tr>
    </table>
</form>
</div>
<div class="fixed-footer">
        <div class="container">Copyright &copy; 2022 S3AG solutions pvt. ltd.</div>        
</div>
</body>
</html>