<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
	<!-- <script type="text/javascript" th:src="@{/styles/js/actions.js}"></script> -->
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<body>
<div class="header">
  <!--<img src="../static/images/logo.PNG" width="100" th:src="@{styles/images/logo.PNG}"/>-->
  <div class="header-left">
    <a class="active" href="#home">Home</a>
   <!-- <a href="#contact">Contact</a> -->
  </div>
</div>
<div class="w3-container, container">

  <h1>Acrobat Sign</h1>
  <h2>Document Download Tool</h2>
<!-- [[${url}]] -->
<!-- 	<form class="w3-panel w3-card-4" action="#" th:action="@{/welcome}"
	        th:object="${personForm}" method="post"> -->
	 	<form class="w3-panel w3-card-4"  action="#" th:action="@{/getUrl}" method="get" id="popupForm">
		    <table>
		        <tr>
		            <td>Token:</td>
		            <td><input type="text" class="w3-input"
		                placeholder="Token" id="token" /></td>
		        </tr>
		        <tr>
		        	<td></td>
		            <td><a class="w3-button w3-black" th:href="${url}" onload="afterload();"> Login Adobe Sign </a><td>
		        </tr>
	    </table>
		</form>
</div>
<div class="fixed-footer">
        <div class="container">Copyright &copy; 2023 Adobe Inc.</div>        
</div>
<script th:inline="javascript" type="text/javascript">

/*Ajax start */
$(document).ready(function () {
/*<![CDATA[*/
    var finalUrl = /*[[${url}]]*/ 'default';
    console.log(finalUrl);
/*]]>*/
});

/*Ajax end */

</script>
</body>
</html>