<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/pageLayout.css}" rel="stylesheet" />
  <link th:href="@{/styles/css/multiselect.css}" rel="stylesheet" />
  <style>
    /* CSS for the layout */
    .header {
      background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color: black;
    }

    .sidebar-logo {
      margin-top: 45px; /* Adjust this value to move the logo down */
      background-color: black;
      padding: 10px;
      text-align: center;
    }

    .content {
      margin-left: 200px;
      padding: 20px;
    }
  </style>
</head>

<body>
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <div class="sidebar-logo">
     <img src="../static/images/logo.PNG" width="80" height="80" th:src="@{styles/images/logo.PNG}"/>
    </div>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active " th:href="@{form}">
        <i class="fa fa-file-text-o w3-xxlarge"></i>
        <p>AGREEMENTS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-black active" th:href="@{workflows}">
        <i class="fa fa-cogs w3-xxlarge"></i>
        <p>WORKFLOWS</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>TEMPLATES</p>
    </a>

    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>WEB FORM</p> 
    </a>
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black active" th:href="@{/}">
        <i class="fa fa-file-code-o w3-xxlarge"></i>
        <p>HELP</p> 
    </a>
</nav>
  <div id="main">
    <header class="w3-container w3-padding-large w3-center w3-black" id="home">
      <h1 class="w3-jumbo">Bulk Operations Tool</h1>
    </header>

    <div class="w3-container" >
      <form class="w3-panel w3-card-4" style="height: 350px !important;" action="#" th:action="@{/agreements}" method="post">
        <table style="border-collapse: separate;border-spacing: 0 1em;">
	     
	        <tr>
	         <p><strong>Agreements will be fetched between this date range.</strong> </p>
	        </tr>
	        <tr>
	        </td>
	        <tr>
	        	<td>Start Date:</td>
	            <td><input type="date" class="w3-input" name="startDate" placeholder="Date" /></td>
	        </tr>
	        <tr>
	        	 
	            <td>End Date:</td>
	            <td><input type="date" class="w3-input" name="beforeDate" placeholder="Date" /></td>
	        </tr>
	        <tr>
	        	<td><label for="activeUserList">Users:</label></td>
	        	<td>
	              	<select id="test" name= "activeUserList">
	        		 <option th:each="activeUser : ${activeUserList}" th:value="${activeUser.email}" th:selected="${activeUser.email}" th:text="${activeUser.firstName} + ' ' + ${activeUser.lastName} + '- '+${activeUser.email}">
				    </option>
				</select>
				</td>
	        </tr>
	        <tr>
	        	<td><label for="userWorkflow">Workflows:</label></td>
	        	<td>
	        	<select id="userWorkflow" name= "userWorkflow">
	        		<option value="0">Select Workflow</option>
				    <option th:each="userWorkflow : ${workflowList}" th:value="${userWorkflow.id}" th:selected="${userWorkflow.id}" th:text="${userWorkflow.displayName}">
				    </option>
				</select>
				</td>
	        </tr>
	        <tr>
	           <td><button class="w3-button w3-black" type="submit" name="agreementWithWorkflow">Get Agreements</button></td> 
	        </tr>
	    </table>
	</form>
	
</div>
<div class="fixed-footer">
        <div class="container"></div>        
</div>
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/styles/js/validation.js}"></script>
	<script type="text/javascript" th:src="@{/styles/js/action.js}"></script>
	
<script>
  const homeButton = document.getElementById('Button');
  homeButton.addEventListener('click', function() {
    homeButton.classList.toggle('active');
  });
</script>
</body>
</html>