<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/styles/css/homeLayout.css}" rel="stylesheet" />
   <link th:href="@{/styles/css/tableLayout.css}" rel="stylesheet" />
  
</head>

<body>
 
 <!-- Header -->
    <header>
    <div style="float: left;">
    	<img src="../static/images/logo.PNG" width="30" height="30" th:src="@{styles/images/logo.PNG}"/>
    </div>
        <h1>Bulk Operations Tool</h1>
  	<p>One Stop Solution for actions in bulk.</p>
  
    </header>
<!-- Main Container -->
    <div class="container">
        <!-- Left Panel -->
        <div class="left-panel">
        	
           <ul class="menu">
                <li class="menu-item"> 
                	<a class="menu-button"  th:href="@{/}"> <i class="fa fa-home extra-large"></i>
        				<p>HOME</p>
    				</a>
    			</li>
                <li class="menu-item">
                	 <a class="menu-button" th:href="@{form}">
				        <i class="fa fa-file-text-o fa fa-home extra-large"></i>
				        <p>AGREEMENTS</p>
				    </a>
                </li>
                <li class="menu-item">
                	<a class="menu-button" th:href="@{workflows}">
				        <i class="fa fa-cogs extra-large"></i>
				        <p>WORKFLOWS</p>
				    </a>
                </li>
                <li class="menu-item">
                	<a class="menu-button" th:href="@{libraryTemplateSearch}">
				        <i class="fa fa-envelope extra-large"></i>
				        <p>TEMPLATES</p>
				    </a>
                </li>
                 <li class="menu-item">
                	<a class="menu-button" th:href="@{widgets}">
				        <i class="fa fa-file-code-o extra-large"></i>
				        <p>WEB FORM</p> 
				    </a>
                </li>
                 <li class="menu-item">
                	<a class="menu-button" th:href="@{helpx}">
				        <i class="fa fa-envelope extra-large"></i>
				        <p>HELP</p> 
				    </a>
                </li>
            </ul>
        </div>

        <!-- Right Panel -->
<div class="right-panel">
    <h1>Workflow Details</h1>
	<br>
    <table th:object="${agreementInfo}" border="1">
      
        <tbody>
        	<tr th:object="${agreementInfo}">
            	<td>Workflow Name: </td>
                <td th:text="${name}" />
            </tr>
            <tr >
                <td>Workflow Display Name: </td>
                <td th:text="${displayName}" />
           
            </tr>
            <tr>
            	<td>Workflow scope: </td>
                <td th:text="${scope}" />
            </tr>
             <tr th:each="partcipant:${partcipantSet}">
               
                
            </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>