<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/styles/js/actions.js}"></script>
</head>
<body>
<div class="header">
   <div class="header-left">
   
    <a th:object="${personForm}"  th:href="@{/}">Home</a>
    
   <a th:href="@{send}">Send for signature</a>
    <!--<a th:href="@{aboutus-details}">About us</a>-->
  </div>
</div>
<div class="w3-container, container">
    <h1>Workflow Details</h1>
	<br>
    <table th:object="${agreementInfo}" border="1">
      
        <tbody>
        	<tr th:object="${agreementInfo}">
            	<td>Workflow Name: </td>
                <td th:text="${name}" />
            </tr>
            <tr >
                <td>Workflow Display Name: </td>
                <td th:text="${displayName}" />
           
            </tr>
            <tr>
            	<td>Workflow scope: </td>
                <td th:text="${scope}" />
            </tr>
             <tr th:each="partcipant:${partcipantSet}">
               
                
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="fixed-footer">
      
</div>
</body>
</html>